.skill-iteam {
 position: relative;
 min-height: calc(33.33vh - 40px / 3);
 overflow: hidden;

 &:hover .skill-iteam__overlay {
  opacity: 0.95 !important;
 }

 &:hover .skill-iteam__image {
  transform: scale(1.1);
 }

 @for $i from 1 through 9 {
  &:nth-of-type(#{$i}) {
   grid-area: a1 #{$i};
  }
 }
}

@media (min-height: 691px) {
 .skill-iteam {
  min-height: calc(33.33vh - 40px / 3);
 }
}

@media (max-height: 690px) {
 .skill-iteam {
  min-height: calc(230px - 40px / 3);
 }
}
