.header {
 position: relative;
 min-height: 100vh;
 background-image: url(../img/img-header.png);
 background-position: center;
 background-size: cover;
 background-color: $color-primary;
 color: $color-light;
 padding-top: 150px;
 padding-bottom: 150px;
 display: flex;
 align-items: center;
 justify-content: center;
}
